body {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

nav {
    font-size: 18px;
}
